@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-vertical:before {
    border-left: 1px solid #FFFFFFA8;
    content: "";
    /* display: block; */
    height: 65px;
    left: 25px;
    position: absolute;
    top: 50px;
    width: 1px;
    z-index: 0;
}



